@import './style_reset';
@import './colors';
@import './mixins';
@import './animations';

html {
  font-family: sans-serif;
  background: #f0f0f0;
  margin: 0;
}

body {
  background: #f0f0f0;
  color: #222;
  margin: 0 auto;
  padding: 2px;
  height: inherit;
  text-align: center;
  white-space: nowrap;
  max-width: 50em;
  min-width: 20em;
  min-height: 15em;
}

h2{
  font-weight: bold;
  font-size: 1.2em;
}

a{
  cursor: pointer;
}

@import './nav';
@import './options_view';
@import './typing_view';
@import './note_view';
